.skillWrapper,
.educationWrapper,
.linksWrapper,
.mainText {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}


.links {
  gap: 2rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  max-width: 68rem;
}

.links a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  color: #1e90ff;
}

.links a:hover {
  color: #1e90ff;
}

.skillText {
  display: flex;
  justify-content: flex-start;
  max-width: 68rem;
  width: 100%;
}

.wave {
  display: inline-block;
  margin-left: 0.5rem;
  animation: wave-animation 1.5s infinite ease-in-out;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
